{% extends "base.html" %}
{% block title %} Главная страница {% endblock title %}
{% block main %}

<main>
    <div class="bg-white rounded-lg m-3 p-3">
        <p class="text-lg font-semibold">Как пользоваться приложением</p>
        <p class="font-light">
            1) Посмотрите или почитайте контент на английском языке.
            <br>
            2) Загрузите на сайт видео и добавьте незнакомые вам слова.
            <br>
            3) Попробуйте давать перевод этим словам в разделе "Запоминания" и получайте рекомендации от 
            <span class="text-purple-700 animate-pulse">искусственного интеллекта</span>
        </p>
    </div>

    <div class="bg-white rounded-lg m-3 p-3">
        <p class="text-lg font-semibold">Рекомендации по изучении английского языка</p>
        <p class="font-light">
            1) Погружение в среду: Смотрите фильмы, слушайте подкасты, читайте книги и статьи на английском языке.
            Это
            поможет вам привыкнуть к звучанию и структуре языка.
            <br>
            2) Регулярная практика: Ежедневные короткие сессии (15-30 минут) будут эффективнее, чем редкие, но
            долгие
            занятия.
            <br>
            3) Активное использование: Общайтесь на английском с носителями языка или партнёрами по языковому
            обмену.
            Практика важна для уверенного использования.
            <br>
            4) Расширение словарного запаса: Изучайте новые слова в контексте, а не изолированно. Например,
            записывайте и
            повторяйте выражения целиком.
            <br>
            5) Работа над грамматикой: Изучайте базовые правила грамматики и старайтесь применять их на практике.
            Используйте приложения и онлайн-курсы для структурированного изучения.
            <br>
            6) Письменные упражнения: Ведение дневника на английском или переписка с носителями языка поможет
            улучшить
            навыки письма.
            <br>
            7) Настройка на успех: Не бойтесь ошибок. Они – часть процесса обучения.
        </p>
    </div>
</main>
{% endblock main %}