{% extends "base.html" %}
{% block title %}Слова с ролика{% endblock title %}
{% block main %}

<main>
    <div id="response-message" class=" opacity-65 text-white font-light p-5 m-3 text-center rounded"></div>
    <div class="bg-white rounded p-3 m-3">
        <p class="text-2xl font-serif text-center">Все слова с ролика</p>
        <hr>
        <div class="grid grid-cols-3 gap-2 text-center mt-4 font-serif text-lg">
            <p>Слово</p>
            <p>Количество появлений</p>
            <p>Добавить</p>
        </div>

        <div class="h-[70vh] overflow-scroll">
                {% for k, v in words.items %}
                <div class="grid grid-cols-3 gap-2 text-center mt-4 font-serif text-lg {% if forloop.counter|divisibleby:2 == 0 %}bg-gray-100{% endif %} p-2 rounded">
                    <p>{{k}}</p>
                    <p>{{v}}</p>
                    <button data-word="{{ k }}"
                        class="add-word bg-green-500 hover:bg-green-600 text-white rounded font-sans font-medium text-sm place-content-center w-1/2 mx-auto">Добавить</button>
                </div>
                {% endfor %}
        </div>

    </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $('.add-word').click(function () {
        var word = $(this).data('word');

        $.ajax({
            url: '{% url "words:video_add_word" %}',
            type: 'POST',
            data: {
                word: word,
                csrfmiddlewaretoken: '{{csrf_token}}'
            },
            success: function (response) {
                var messageElement = $('#response-message');
                messageElement.text(response.message)
                messageElement.removeClass('bg-green-700', 'bg-red-700')
                if (response.added) {
                    messageElement.addClass('bg-green-700')
                } else {
                    messageElement.addClass('bg-red-700')
                }
            }
        })
    })
</script>

{% endblock main %}