{% extends "base.html" %}
{% block title %}Запоминания{% endblock title %}
{% block main %}
<main class="grid grid-cols-2">
    <div class="h-fit">

        <div id="main-form" class="bg-white m-5 p-8 rounded-xl">
            <div id="play-form" class="hidden">
                <div id="loading" class="hidden flex items-center space-x-1 mb-1">
                    <div class="w-5 h-5">
                        <p class="text-gray-500 animate-spin text-xs">o</p>
                    </div>
                    <p class="text-gray-500 text-sm">Проверка</p>
                </div>
                
                <p id="play-form-header" class="font-semibold text-xl"></p>
                <div class="text-center mt-1">
                    <p id="context" class="italic font-light text-start mb-4"></p>
                    <div class="space-x-2">
                        <input id="play-form-input" type="text" class="bg-gray-100 rounded p-2" placeholder="">
                        <button id="play-form-button" type="submit"
                            class="rounded p-2 bg-sky-700 hover:bg-sky-800 text-white">Перевод</button>
                    </div>
                </div>
            </div>
            <div id="begin-form" class="flex items-center justify-center">
                <button id="begin-button" class="bg-sky-700 hover:bg-sky-800 rounded p-3 text-white">
                    Начать
                </button>
            </div>
        </div>

        <div id="success-form" class="hidden bg-green-200 m-5 p-3 rounded-lg text-green-800 text-center space-y-2">
            <div class="flex items-center space-x-5">
                <!-- <p class="bg-green-300 rounded-full w-9 h-9 flex items-center justify-center text-2xl">!</p> -->
                <p class="text-lg">✅</p>
                <p class="text-sm">Вы сделали правильный перевод!</p>
            </div>
            <button class="continue p-1 bg-green-300 rounded hover:bg-green-400">Продолжить</button>
        </div>

        <div id="error-form" class="hidden bg-red-200 m-5 p-3 rounded-lg text-red-800 text-center space-y-2">
            <div class="flex items-center space-x-5">
                <!-- <p class="bg-red-300 rounded-full w-9 h-9 flex items-center justify-center text-md">x</p> -->
                <p class="text-lg">❌</p>
                <p id="result-input" class="text-sm text-start"></p>
            </div>
            <button class="continue p-1 bg-red-300 rounded hover:bg-red-400">Продолжить</button>
        </div>
    </div>

    <div class="bg-white m-5 p-8 rounded-xl text-center h-fit">
        <p class="text-xl">Статистика</p>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    word = null;
    <!-- Start -->
    function get_word() {
        $.ajax({
            url: "{% url 'games:get_random_word' %}",
            type: "GET",
            success: function (response) {
                word = response.word                
                $('#begin-form').hide()
                $('#play-form').removeClass('hidden')
                text = `Введите перевод слова ${response.word}`
                context = `'${response.context}'`
                $('#context').text(context)
                $('#play-form-header').text(text)
                $('#play-form-input').attr('placeholder', response.word)
            }
        });
    }

    $('#begin-button').click(get_word);
    $('.continue').click(function(){
        $('#success-form').addClass('hidden')
        $('#error-form').addClass('hidden')
        $('#play-form-input').val("")
        get_word()
    });

    $('#play-form-button').click(function () {
        class_for_wait = "bg-gray-300 opacity-70"
        $('#loading').removeClass('hidden')
        $('#main-form').addClass(class_for_wait)

        $.ajax({
            url: "{% url 'games:check_word' %}",
            data: {
                word: word,
                translate: $('#play-form-input').val()
            },
            type: "GET",
            success: function (response) {
                if (response.result) {
                    $('#success-form').removeClass('hidden')
                } else {
                    $('#error-form').removeClass('hidden')
                    $('#result-input').text(response.explanation)
                }
            },
            complete: function(){
                $('#loading').addClass('hidden')
                $('#main-form').removeClass(class_for_wait)
            }
        })
    })




</script>
{% endblock main %}